@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.navbar-text-home{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF !important;
}

.navbar-text-about{
    display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 16px;
  color: #FFFFFF; 
}

.navbar-text-projects{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
    color: #FFFFFF; 
}

.navbar-text-experience{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
    color: #FFFFFF; 
}

.navbar-text-home a,
.navbar-text-about a,
.navbar-text-projects a,
.navbar-text-experience a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #FFFFFF !important; /* Fuerza el color blanco */
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
}

.navbar-text-home a:hover,
.navbar-text-about a:hover,
.navbar-text-projects a:hover,
.navbar-text-experience a:hover {
    color: #1D9CD9; /* Cambia el color al pasar el cursor (opcional) */
}




