.home-container {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  margin-top: 40px;
}

.home-content {
    display: flex;
    width: 567px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  /* Sección de títulos y subtítulos */
.home-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  /* Sección de descripción y botones */
.home-description-buttons {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

  /* Títulos */
.home-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    align-self: stretch;
  }
  
  .home-title1,
  .home-title2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 58px;
    margin: 0; /* Elimina márgenes predeterminados */
    color: #FFFFFF; /* Color blanco */
  }
  
  /* Subtítulos */
  .home-subtitles {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .home-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semibold */
    font-size: 25px;
    margin: 0; /* Elimina márgenes predeterminados */
    color: #1D9CD9; /* Color azul */
  }
  
  /* Descripciones */
.home-descriptions {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 567px;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .home-description {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200; /* Regular */
    line-height: normal;
    margin: 0; /* Elimina márgenes predeterminados */
    color: #FFFFFF; /* Color blanco */
  } 
  
  /* Botones */
  .home-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  /* Botón Start */
  .home-button-start {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    border-radius: 8px;
    background: #1D9CD9;
    color: #000307;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-button-start:hover {
    background: #1578a8;
  }
  
  /* Botón CV */
  .home-button-cv {
    display: flex;
    height: 44px; /* Cambiado a 44px */
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 8px; /* Cambiado a 8px */
    border: 1px solid #041624;
    background: #020E16;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-button-cv:hover {
    background: #041624; /* Cambia el fondo al pasar el cursor */
  }
  
  /* Ícono del botón CV */
  .button-icon-img {
    width: 20.667px;
    height: 22.5px;
    display: flex;
    align-items: center;
  }

  /* Imagen */
.home-image-element {
    width: 550px;
    height: 544px;
    flex-shrink: 0;
    aspect-ratio: 275 / 272;
  }