.navbar-logo img {
    width: 47px;
    height: 38px;
  }
  
  .navbar-links {
    display: flex;
    width: 514px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
  }

  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 1118px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);         
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  }